{{#if items.length}}
<div class="container">
  {{#each items as |item|}}
    <div class="card m-3 text-center">
      <div class="card-body">
        <h5 class="card-title border-bottom">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
      </div>
      <div class="card-footer text-muted d-flex justify-content-around">
        <p>Created By: {{item.user.username}}</p>
        <p>Created: {{format_date item.date_added}}</p>
      </div>
    </div>
  {{/each}}
</div>

{{else}}
<h1>Nope</h1>
{{/if}}


<div class="add-item-container">
  <h2>
    Report an item as lost
  </h2>
  <form class="new-item-form">
    <label for="name">
      Item Name:
    </label>
    <br />
    <textarea id="name" name="name" rows="2" cols="30">
      {{name}}
    </textarea>
    <br />
    <label for="date_added">
      Date Added:
    </label>
    <br />
    <textarea id="date_added" name="date_added" rows="2" cols="30">
      {{date_added}}
    </textarea>
    <br />
    <label for="description">
      Description:
    </label>
    <br />
    <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
    <br />
    <label for="reward">
      Reward: $
    </label>
    <br />
    <textarea id="reward" name="reward" rows="2" cols="30">
      {{reward}}
    </textarea>
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/edit-item.js"></script>

