<div class="container text-center my-4">
  <a href="/profile" class="btn btn btn-primary mb-4">Report Lost Item</a>

{{!-- <div id="input" class='d-flex justify-content-center'>
  <input type="text" id="searchfield" placeholder="Search for an item">
  <a href='/search' class="btn btn-primary btn-lg" role='button' id="searchbutton">Search</a>
</div> --}}

<form id="input" class="form-inline my-2 my-lg-0 d-flex justify-content-center">
  <input id="searchfield" class="form-control mr-sm-2" type="search" placeholder="Search for an item" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>


{{#if items.length}}
<div class="container"> 
  <div class="row d-flex justify-content-center">
  {{#each items as |item|}}
    {{#unless item.isFound}}
          <div class="card m-3 text-center col-md-5 col-lg-3" id="spawnedCards">
            <div class="card-body border-bottom">
              <div class="card-title border-bottom">
              <h5>{{item.name}}</h5>
              <small class="text-muted">Reported By: {{capitalize item.user.username}}</small>
              <br>
              <small class="text-muted"> on {{format_date item.date_added}}</small>
              </div>
              <p class="card-text">{{item.description}}</p>
            </div>
            <div class="py-3">
              <a id="viewItem" href="api/items/{{item.id}}" class="btn btn-primary">View Item</a>
            </div>
          </div>
    {{/unless}}
  {{/each}}
  </div>
</div>

{{else}}
<h1>No reported items</h1>
{{/if}}
</div>







<script src="/js/search.js"></script>
