<h1 class="d-flex justify-content-center">Global Lost and Found</h1>
<div class = "container" id="actionContainer">
  
  <div class="d-flex justify-content-center">
    
    <div class="">
		  <a href="/profile" class="btn btn-primary btn-lg " role="button" aria-pressed="true" id="submitItemBtn">Submit Lost Item</a>
    </div>
  </div>
</div>

<div class="container">
  <div id="input" class='d-flex justify-content-center'>
    <input type="text" id="searchfield" placeholder="Search for an item">
    <a href='/search' class="btn btn-primary" role='button' id="searchbutton">Search</a>
  </div>
</div> 

{{#if items.length}}

<div class="container "> 
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 d-flex">
  {{#each items as |item|}}
    {{#unless item.isFound}}
      <div class="card border-0">
          <div class="card m-3 text-center col-11" id="spawnedCards">
            <div class="card-body">
              <div class="card-title border-bottom">
              <h5>{{item.name}}</h5>
              <small class="text-muted">Reported By: {{item.user.username}}</small>
              <br>
              <small class="text-muted"> on {{format_date item.date_added}}</small>
              </div>
              <p class="card-text">{{item.description}}</p>
            </div>
            <div class="card-footer">
              <a id="viewItem" href="api/items/{{item.id}}" class="btn btn-primary">View Item</a>
            </div>
          </div>
      </div>
    {{/unless}}
  {{/each}}
  </div>
</div>

{{else}}
<h1>No reported items</h1>
{{/if}}


<script src="/js/search.js"></script>
