<div class = "container" id="actionContainer">
  <div class = "d-flex justify-content-center ">
    <div class="">
		  <a href="/profile" class="btn btn-primary btn-lg " role="button" aria-pressed="true" id="submitItemBtn">Submit Lost Item</a>
    </div>
  </div>

  <div class = "d-flex justify-content-center ">
    <div class="">
		  <a href="#" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Placeholder</a>
    </div>
  </div>
</div>

{{#if items.length}}
<div class="container">
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
  {{#each items as |item|}}
    <a href="api/items/{{item.id}}" class="text-reset text-decoration-none">
      <div class="card m-3 text-center col-11" id="spawnedCards">
        <div class="card-body">
          <h5 class="card-title border-bottom">{{item.name}}</h5>
          <p class="card-text">{{item.description}}</p>
          <p>Reward: ${{item.reward}}</p>
        </div>
        <div class="card-footer text-muted d-flex justify-content-around">
          <p>Created By: {{item.user.username}}</p>
          <p>Created: {{format_date item.date_added}}</p>
        </div>
      </div>
    </a>
  {{/each}}
  </div>
</div>

{{else}}
<h1>Nope</h1>
{{/if}}

<script src="/js/edit-item.js"></script>
