
<div class="container">
  <div class="container my-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center-border-bottom">
          <h3 class="card-title">{{capitalize name}}</h3>
          <small>Created on: {{format_date date_added}}</small>
        </div>
        <p class="lead">{{description}}</p>
        <p>Reward: ${{reward}}</p>
          <div class="text-right">
            <button class="btn btn-info m-3" data-toggle="modal" data-target="#edit-item-modal">Edit Item</button>
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="edit-item-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Item Details</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="edit-item-form">
            <div class="form-group">
              <label class="modalLabel" for="item-name">Item Name:</label>
              <input id="item-name" type="text" class="form-control" value="{{name}}">
            </div>
            <div class="form-group">
              <label class="modalLabel" for="item-desc">Item Description:</label>
              <textarea name="item-desc" id="item-desc" class="form-control" rows="3">{{description}}</textarea>
            </div>
            <div class="form-group">
              <label class="modalLabel" for="item-reward">Reward($):</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input id="item-reward" type="text" class="form-control" value="{{reward}}">
              </div>
            </div>
            <div class="modal-footer">
              <button id="update-item" type="submit" class="btn btn-info" data-item="{{id}}">Update</button>
            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/edit-item.js"></script>