<div class="container text-center p-3">
  <h2>Welcome, {{capitalize username}}!</h2>
  <button class="btn m-3 reportBtn" data-toggle="modal" data-target="#newItemModal">Report Lost Item</button>
  <div class="item-list text-center">
    {{#if items.length}}
      <h3>Current Lost Items:</h3>

      {{#each items as |item|}}
        {{#unless item.isFound}}
          <div class="row mb-2 row-cols-xs-2 d-flex justify-content-center">
            <div class="col-md-8 col-xs-10 d-flex justify-content-center">
              <h4 class="m-2"><a href="/item/{{item.id}}">{{item.name}}</a></h4>
              <button class="btn btn-sm btn-danger" data-id="{{item.id}}"><i class="far fa-trash-alt"></i></button>
            </div>
          </div>
        {{/unless}}
      {{/each}}
      <h3>Items that have been found:</h3>
      {{#each items as |item|}}
        {{#if item.isFound}}
          <div class="row mb-2">
            <div class="col-md-8">
              <h4><a href="/item/{{item.id}}">{{item.name}}</a></h4>
            </div>
            <div class="col-md-4 text-right">
              <button class="btn btn-sm btn-danger" data-id="{{item.id}}"><i class="far fa-trash-alt"></i></button>
            </div>
          </div>
        {{/if}}
      {{/each}}
    {{else}}
      <h1>No reported lost items</h1>
    {{/if}}
    </div>
  <div class="modal fade" id="newItemModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Report Lost Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="new-item-form">
            <div class="form-group">
              <label for="item-name">Item Name</label>
              <input id="item-name" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="item-desc">Item Description</label>
              <textarea name="item-desc" id="item-desc" class="form-control" rows="3"></textarea>
              <small class="text-muted">Please be as descriptive as possible with specific details</small>
            </div>
            <div class="form-group">
              <label for="item-reward">Reward($)</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input id="item-reward" type="text" class="form-control" placeholder="1234">
              </div>
            </div>
          <div class="modal-footer">
            <button id="submit-item" type="submit" class="btn btn-primary">Submit Item</button>
            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./js/profile.js"></script>
